---
import NavBar from "../components/NavBar.svelte";

const page = Astro.url.pathname;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>João Estudante</title>
		<script is:inline>
			// inline script prevents theme flashing when changing URLs
			if (
				localStorage.getItem('color-theme') === 'dark' ||
				(!('color-theme' in localStorage) &&
					window.matchMedia('(prefers-color-scheme: dark)').matches)
			) {
				document.documentElement.classList.add('dark');
			} else {
				document.documentElement.classList.remove('dark');
			}
		</script>
		<script>
			import { drawMermaidJsGraphs } from "../plugins/mermaid.js";
			drawMermaidJsGraphs();
		</script>
	</head>
	<body class="bg-white dark:bg-gray-800">
		<div class="container h-content w-screen mx-auto px-6 mb-24"> 
			<NavBar client:idle page={page}></NavBar>
			<slot/>
		</div>
	</body>
</html>